<!DOCTYPE html>
<html lang="cs-cz">
 
    <head>
        <meta name="viewport" content="width=device-width">
        <meta charset="utf-8" />
        
        <link href="static/style.css" rel="stylesheet">
        <script src="static/jquery-3.4.1.min.js"></script>
        <script src="static/WifiManager.js"></script>
        <script src="static/func.js"></script> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js" type="text/javascript"></script>
          
        <title>Olife Energy</title>
    </head>
  
    <body>
           <nav>
                <ul class="menu">
                    <li id="main" class="aktivni"><a class="aktiv" >Přehled</a></li>
                    <li id="settings"><a >Nastavení</a></li>
                    <li id="contact"><a >Kontakt</a></li>
                </ul>
            </nav>
                <div class="mainContainer">
                </div>
                
            
    
        
    </body>
</html>