<!DOCTYPE html>
<html lang="cs-cz">
<div class="container-sm mt-3">
    <div class="container-fluid text-white pt-2 text-center">
        <h5>Wattmeter data</h5>
    </div>
<table class="table  table-dark rounded" >
    <thead>
        <tr><th>Name</th><th colspan="3">Status/Value</th></tr>
    </thead>   
    <tbody> 
        <tr><td>Time:</td><td><span id="time">0</span></td></tr>
        <tr><td>Voltages L1/L2/L3 [V]</td><td ><span id="U">"-,-/-,-/-,-"</span></td></tr>
        <tr><td>Currents L1/L2/L3 [A]</td><td ><span id="I">"-,-/-,-/-,-"</span></td></tr>
        <tr><td>Power [W]</td><td><span id="Power">-,-</span></td></tr>
        <tr><td>Total energy [kWh]</td><td><span id="Total_Energy">-,- </span></td></tr>
        <tr><td>Previous day energy [kWh]</td><td><span id="Previous_Energy">-,- </span></td></tr>
        <tr><td>Current day energy [kWh]</td><td><span id="Current_Energy">-,- </span></td></tr>
    </tbody>  
</table>  

    <div class="container-fluid text-white pt-2 text-center">
        <h5>Evse data</h5>
    </div>
<table class="table  table-dark rounded" >
    <thead>
        <tr><th>Name</th><th colspan="2">Status/Value</th></tr>
    </thead>   
    <tbody> 
        <tr><td>Actual configured amps value :</td><td><span id="ACTUAL_CONFIG_CURRENT">0</span></td></tr>
        <tr><td>Actual amps value output:</td><td><span id="ACTUAL_OUTPUT_CURRENT">0</span></td></tr>
        <tr><td>Vehicle state:</td><td><span id="EV_STATE">0</span></td></tr>

    </tbody>  
</table>

        <canvas id="powerGraph" height ="250px">
            <p>Your browser does not support the canvas element.</p>
        </canvas>

        <canvas id="energyGraph" height ="250px">
            <p>Your browser does not support the canvas element.</p>
        </canvas>
     </div>
</html>
                     