<!DOCTYPE html>
<div class="container-sm mt-3">
    <div class="container-fluid text-white pt-2 text-center">
        <h4>WATTMETER:  <span id="ID"> </span> <span class="dot"></span> </h4>
    </div>
    <table class="table  table-dark text-center">
        <thead>
            <tr style="background-color: #282828;">
                <th>Name</th>
                <th>L1</th>
                <th>L2</th>
                <th>L3</th>
            </tr>
        </thead>   
        <tbody> 
            <tr>
                <td>Voltages [V]</td>
                <td ><span id="U1"> -,-</span></td>
                <td ><span id="U2">-,-</span></td>
                <td ><span id="U3">-,-</span></td>
            </tr>
            <tr>
                <td>Currents [A]</td>
                <td><span id="I1"> -,- </span></td>
                <td ><span id="I2">-,-</span></td>
                <td ><span id="I3">-,-</span></td>
            </tr>
            <tr>
                <td>Powers [kW]</td>
                <td><span id="P1">-,-</span></td>
                <td><span id="P2">-,-</span></td>
                <td><span id="P3">-,-</span></td>
            </tr>
            <tr>
                <td>Power factor [-]</td>
                <td><span id="PF1">-,-</span></td>
                <td><span id="PF2">-,-</span></td>
                <td><span id="PF3">-,-</span></td>
            </tr>
            <tr>
                <td>Positive peak [kW]</td>
                <td><span id="PP1_peak">-,-</span></td>
                <td><span id="PP2_peak">-,-</span></td>
                <td><span id="PP3_peak">-,-</span></td>
            </tr>
            <tr>
                <td>Negative peak [kW]</td>
                <td><span id="PN1_peak">-,-</span></td>
                <td><span id="PN2_peak">-,-</span></td>
                <td><span id="PN3_peak">-,-</span></td>
            </tr>
            <tr>
                <td>HDO [ON/OFF]</td>
                <td colspan="3"><span id="HDO">-,-</span></td>
            </tr>
            <tr>
                <td> <button  id="relay" type="button" class="btn btn-primary btn-xs">Relay</button></td>
                <td colspan="3"><span id="RELAY">-,-</span></td>
            </tr>
            <tr>
                <td> <button  id="synchroTime" type="button" class="btn btn-primary btn-xs">Sync. time</button></td>
                <td colspan="3"><span id="WATTMETER_TIME">-,-</span></td>
            </tr>
            <tr>
                <td>Up time [s]</td>
                <td colspan="3"><span id="RUN_TIME">-,-</span></td>
            </tr>
        </tbody>
    </table>
    <table class="table  table-dark text-center">
        <thead>
            <tr  style="background-color:#282828;">
                <th colspan='2'>Energy</th>
                <th>Positive</th>
                <th>Negative</th>
            </tr>
        </thead>
        
        <tbody> 
            <tr>
                <td colspan='2'>Total  [kWh]</td>
                <td ><span id="Total_Energy_positive">-,- </span></td>
                <td ><span id="Total_Energy_negative">-,-</span></td>
            </tr>
            <tr>
                <td colspan='2'>Previous day [kWh]</td>
                <td><span id="Previous_Energy_positive">-,-</span></td>
                <td><span id="Previous_Energy_negative">-,-</span></td>
            </tr>
            <tr>
                <td colspan='2'>Current day [kWh]</td>
                <td><span id="Current_Energy_positive">-,-</span></td>
                <td><span id="Current_Energy_negative">-,-</span></td>
            </tr>
        </tbody>  
    </table>  

    <div id="evseContainer">
    </div>
        <canvas id="powerGraph" height ="300px" style="max-height: 400px;">
            <p>Your browser does not support the canvas element.</p>
        </canvas>

        <canvas id="energyGraph_hourly" height ="300px" style="max-height: 400px;">
            <p>Your browser does not support the canvas element.</p>
        </canvas>
        
        <canvas id="energyGraph_daily" height ="300px" style="max-height: 400px;">
            <p>Your browser does not support the canvas element.</p>
        </canvas>

     </div>
                     