<!DOCTYPE html>
<html lang="cs-cz">
 
    <head> 
     
        <meta charset="utf-8" />           
        <title>Wattmeter</title>
        <link href="main/static/style.css" rel="stylesheet">
        <script type="text/javascript" src="main/static/cached-webpgr.js"></script>
        <script type="text/javascript" src="main/static/loadLibrary.js"></script>
    
    </head> 
   
    <body onload="loadLibrary()">
    
        <nav> 
            <ul class="menu">
                <li><a id="main" class="active" >Overview</a></li>
                <li><a id="settings">Setting</a></li>
                <li><a id="contact" >Contact</a></li>
             </ul>
        </nav>
        
        <h2 class="loading">Loading</h2>
        <div class="mainContainer"></div>
 
    </body>
    <footer>
          <p>EV racing s.r.o.</p>
    </footer> 
</html>
