<!DOCTYPE html>
<html lang="cs-cz">
 
    <head> 
           
        <title>Wattmeter</title>
        
         <meta name="viewport" content="width=device-width, initial-scale=1">
         <link href="main/static/style.css" rel="stylesheet">
        <script type="text/javascript" src="main/static/cached-webpgr.js"></script>
        <script type="text/javascript" src="main/static/loadLibrary.js"></script>

    
    </head> 
   
    <body onload="loadLibrary()">

        <nav> 
            <ul class="menu">
                <li><a id="main" class="active" >OVERVIEW</a></li>
                <li><a id="settings">SETTINGS</a></li>
             </ul>
        </nav>
        
      <!-- Loading Spinner Wrapper-->
        <div class="loader text-center">
            <div class="loader-inner">

                <!-- Animated Spinner -->
                <div class="lds-roller mb-3">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <h4 class="text-uppercase font-weight-bold">Loading</h4>
            </div>
        </div>
        
        <div class="mainContainer"></div>

    </body>
    
</html>
