<!DOCTYPE html>
<html lang="cs-cz">
 
    <head> 
           
        <title>Wattmeter</title>
        
         <meta name="viewport" content="width=device-width, initial-scale=1">
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
         <link href="main/static/style.css" rel="stylesheet">
         <link href="main/static/bootstrap-switch.min.css" rel="stylesheet">
        <script type="text/javascript" src="main/static/cached-webpgr.js"></script>
        <script type="text/javascript" src="main/static/loadLibrary.js"></script>

    
    </head> 
   
    <body onload="loadLibrary()">

        <nav> 
            <ul class="menu">
                <li><a id="main" class="active" >Overview</a></li>
                <li><a id="settings">Setting</a></li>
                <li><a id="contact" >Contact</a></li>
             </ul>
        </nav>
        
        <h2 class="loading">Loading</h2>

                <div class="mainContainer"></div>

    </body>
    
</html>
