body {
      margin: 0;
}
 
#refresh { 
    
    width: 11%;
    height: 60px;
    float: left;
    margin: 7px 0px 0px 20px;
}

#tableData{
    background-color: #e0b0ff
    border-collapse: collapse;
    padding-left: 25%;
    width: 75%;
    text-align: center;
}

.graphTable{
    width: 75%;
    height: 50%;
    }

ul.menu {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    position: fixed;
    background-color: #223E4A;
    height: 100%;
    overflow: auto;
}
 

ul.menu li a {

    color: white;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 8px 16px;
}
 
ul.menu li a.active {
    background-color: #ffbb00;
    color: #223E4A;
}

ul.menu li a:hover:not(.active) {
  background-color: #96948a;
  color: white;
}

div.maincontainer {
  float: left;
  padding: 1px 16px;
 
}

#chart{ 
    border:1px solid;
    width : "75%";
    padding-left = "25%";
}

@media screen and (max-width: 2000px) {
  ul.menu {
    width: 100%;
    height: auto;
    position: relative;
  } 
  body{
      height: 100%;
      }
  ul.menu li a {
    float: left;
    padding: 15px;
  }
 
 .graphTable{
    height: 150px;
    }
  div.maincontainer {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  ul.menu li a {
    text-align: center;
    float: none;
  }
  .graphTable{
        250px;
    }
}


footer {
  background-color: #223E4A;
  padding: 10px;
  text-align: center;
  color: white;
}


.button{
    display: inline-block;
}

.loader {
  margin-left: 40%;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes load {
    0%{
        opacity: 0.08;
/*         font-size: 10px; */
/*              font-weight: 400; */
                filter: blur(5px);
                letter-spacing: 3px;
        }
    100%{
/*         opacity: 1; */
/*         font-size: 12px; */
/*              font-weight:600; */
/*              filter: blur(0); */
        }
}

.loading {
    display:flex;
    justify-content: center;
    margin-top: 50px;
    align-items: center;
    margin-top: 50px;
    height:100%;
    margin: auto;
/*  width: 350px; */
/*  font-size:26px; */
    font-family: Helvetica, sans-serif, Arial;
    animation: load 1.2s infinite 0s ease-in-out;
    animation-direction: alternate;
    text-shadow: 0 0 1px black;
}
